@use "../component.scss" as c;

$prefix: "progressBar";

@function background() {
  @return c.v($prefix, "background", #1D2025)
}

@function fill() {
  @return c.v($prefix, "fill", #EC7B4C);
}

@function fill-shade() {
  @return c.v($prefix, "fill-shade", #B35F3E);
}

@function corner-radius() {
  @return c.v($prefix, "corner-radius", 6px);
}

@function border-width() {
  @return c.v($prefix, "border-width", 3.5px);
}

@function tail-end() {
  @return calc(#{corner-radius()} + 0.5px);
}

.progressBar {
  background: linear-gradient(
    // Head gradient:
    135deg, transparent 0px, transparent corner-radius(),
    background() corner-radius(),
    // Avoid blocking tail gradient:
    background() 50%, transparent 50%,

  ), linear-gradient(
      // Tail gradient:
      -45deg, transparent 0px, transparent corner-radius(), background() corner-radius(),
      // Avoid blocking head gradient:
      background() 50%, transparent 50%,

  );
  margin-bottom: 8px;
  margin-top: 8px;

  .fill {
    background: linear-gradient(
      // Head gradient:
      135deg, transparent 0px, transparent corner-radius(),
      fill() corner-radius(),
      // Avoid blocking tail gradient:
      fill() 50%, transparent 50%,

    ), linear-gradient(
      // Tail gradient:
      -45deg, transparent 0px, transparent corner-radius(),
      // Thicken the tail "drop shadow":
      fill-shade() corner-radius(),
      fill-shade() tail-end(),
      fill() tail-end(),
      // Avoid blocking head gradient:
      fill() 50%, transparent 50%,

    );
    filter: drop-shadow(0px border-width() 0px fill-shade());
    margin-bottom: border-width();
  }
}

// Drop support until futher notice:
// (   // This rendering will fail on certain devices:   )

//   .stripes {
//     border-top: 2px solid;
//     border-bottom: 2px solid;
//     // border-right: 2px solid;
//     border-color: #FFD37F;
//
//
//     // This rendering will fail on certain devices:
//     // background: repeating-linear-gradient(
//     //   90deg, transparent 0px, transparent 10px,
//     // #FFD37F 10px, #FFD37F 20px, transparent 20px,
//     // );
//     transform: skew(-45deg, 0);
//
//     background: repeating-linear-gradient(
//       135deg,                        // <- the slant lives here now
//       transparent      0px,
//       transparent     10px,
//       #FFD37F         10px,
//       #FFD37F         20px,
//       transparent     20px
//     );
//     margin-left: calc(var(--corner-radius) * 2);
//     margin-right: 0px;
//   }
//
//   .marquee {
//     // https://stackoverflow.com/questions/63787241/css-how-to-create-an-infinitely-moving-repeating-linear-gradient
//     --d:100px;
//     --angle:45deg;
//     background-size: calc(var(--d)/sin(var(--angle))) 100%;
//     animation: marquee 3s linear infinite;
//
//     @keyframes marquee {
//       0% {
//         background-position: calc(var(--d)/sin(var(--angle))) 0;
//       }
//     }
//   }
// }
