// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

* {
  font-family: Symbols Nerd Fonts Mono, fontello;
  border-radius: 0px;
}

window {
  border-color: #454545;
  background: #000000;
  border-bottom: 3px solid;
  border-bottom-left-radius: 5px; // TODO: change to corner
  border-bottom-right-radius: 5px; // TODO: change to corner
}

label {
  color: white;
  // https://stackoverflow.com/a/13427256
  text-shadow: 2px 0 #3F3F3F, -2px 0 #3F3F3F, 0 2px #3F3F3F, 0 -2px #3F3F3F,
               1px 1px #3F3F3F, -1px -1px #3F3F3F, 1px -1px #3F3F3F, -1px 1px #3F3F3F;
}

.Workspaces {
  label {
    font-weight: normal;
  }

  button {
    border: 3px solid;
    border-color: white;
  }

  .focused {
    border-color: #FFD37F;
  }
}

.Focus label {
  color: #FFD37F;
}

.Memory {
  // background-color: #989AA4;
  background: repeating-linear-gradient(
    90deg,
    #4A4B53 0px,
    #4A4B53 7.5px,
    #6E7080 7.5px,
    #6E7080 15.0px,
    #4A4B53 15.0px,
  );
}

.BatteryNew {
  --corner-radius: 8px;
  --border-width: 3.5px;
  --tail-end: calc(var(--corner-radius) + 0.5px);

  background: linear-gradient(
      // Head gradient:
      135deg, transparent 0px, transparent var(--corner-radius),
      #1D2025 var(--corner-radius),
      // Avoid blocking tail gradient:
      #1D2025 50%, transparent 50%,

    ), linear-gradient(
        // Tail gradient:
        -45deg, transparent 0px, transparent var(--corner-radius), #1D2025 var(--corner-radius),
        // Avoid blocking head gradient:
        #1D2025 50%, transparent 50%,

    );

  .fill {
    background: linear-gradient(
      // Head gradient:
      135deg, transparent 0px, transparent var(--corner-radius),
      #EC7B4C var(--corner-radius),
      // Avoid blocking tail gradient:
      #EC7B4C 50%, transparent 50%,

    ), linear-gradient(
      // Tail gradient:
      -45deg, transparent 0px, transparent var(--corner-radius),
      // Thicken the tail "drop shadow":
      #B35F3E var(--corner-radius),
      #B35F3E var(--tail-end),
      #EC7B4C var(--tail-end),
      // Avoid blocking head gradient:
      #EC7B4C 50%, transparent 50%,

    );
    filter: drop-shadow(0px var(--border-width) 0px #B35F3E);
    margin-bottom: var(--border-width);
    // margin-right: -20px;
  }

  .animation {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #FFD37F;
    background: repeating-linear-gradient(
      90deg, transparent 0px, transparent 10px,
    #FFD37F 10px, #FFD37F 20px, transparent 20px,
    );
    transform: skew(-45deg, 0);
    margin-left: 10px;

    // https://stackoverflow.com/questions/63787241/css-how-to-create-an-infinitely-moving-repeating-linear-gradient
    --d:100px;
    --angle:45deg;
    background-size: calc(var(--d)/sin(var(--angle))) 100%;
    animation: stripes 3s linear infinite;

    @keyframes stripes {
      0% {
        background-position: calc(var(--d)/sin(var(--angle))) 0;
      }
    }
  }
}

.Clock {
  label {
    font-family: Pixellari;
    font-weight: normal;
  }
}

.FatalError {
  background: red;

  label {
    margin: 10px;
  }
}
