@use "../component.scss" as c;
@use "../theme.scss";

$prefix: "entry";

@function font() {
  @return c.v($prefix, "font", theme.$font);
}

@function font-size() {
  @return c.v($prefix, "font-size", 28px);
}

@function underline-colour() {
  @return c.v($prefix, "underline-colour", theme.$gray);
}

@function underline-thickness() {
  @return c.v($prefix, "underline-thickness", 3px)
}

@function underline-padding() {
  @return c.v($prefix, "underline-padding", 10px);
}

@function text-colour() {
  @return c.v($prefix, "text-colour", white);
}

@function text-shadow-colour() {
  @return c.v($prefix, "text-shadow-colour", theme.$gray);
}

@function selection-highlight() {
  @return c.v($prefix, "selection-highlight", rgba(white, 0.5));
}

@function selection-text-colour() {
  @return c.v($prefix, "selection-highlight", white);
}

.entry {
  font-family: font();
  font-size: font-size();
  background-color: transparent;

  border: 0px solid;
  border-bottom: underline-colour() solid underline-thickness();
  border-radius: 0px;
  padding-bottom: underline-padding();

  color: text-colour();
  text-shadow: 0px 3px 0px text-shadow-colour();
  selection {
    background-color: selection-highlight();
    color: selection-text-colour();
  }
  placeholder {
    text-shadow: none;
    opacity: 1;
    color: theme.$gray;
  }
  outline: none;
}
