@use "../component.scss" as c;
@use "./theme.scss";

$prefix: "entry";

@function font() {
  @return c.v($prefix, "font", theme.$font);
}

@function background() {
  @return c.v($prefix, "background", transparent);
}

@function border-bottom() {
  @return c.v($prefix, "border-bottom", 0px solid theme.$entry-line-colour);
}

.entry {
  font-family: font();
  text-shadow: 0px 3px 0px theme.$placeholder-colour;
  background-color: background();

  border: 0px solid;
  border-bottom: border-bottom();
  border-radius: 0px;
  padding-bottom: 10px;

  color: white;
  font-size: 28px;
  selection {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  placeholder {
    text-shadow: none;
    opacity: 1;
    color: theme.$placeholder-colour;
  }
  box-shadow: none;
  outline: none;
}
