@use "../theme.scss";

scrollbar trough, scrollbar slider {
  min-width: 20px;
  border-radius: 0px;
  box-shadow: none;
}

scrollbar trough {
  background: black;
}

scrollbar slider {
  background: theme.$gray;
  border: 0px solid;
}
