@use "../theme.scss";
@use "sass:math";
@use "../../libmindustrice/menu/Entry.scss";

// TODO: review style sheet

$thickness: 4.5px;
$grid-colour: theme.$start-screen-accent-colour;
$gap: 43px;
$offset: 42.3px;

.opBackground {
  background: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent $offset,
    $grid-colour $offset,
    $grid-colour ($offset + $thickness),
    transparent ($offset + $thickness),
    transparent $gap
  ), repeating-linear-gradient(
    -45deg,
    transparent 0,
    transparent $offset,
    $grid-colour $offset,
    $grid-colour ($offset + $thickness),
    transparent ($offset + $thickness),
    transparent $gap
  );

  opacity: 0.3;
}
