@use "../libmindustrice/theme.scss";
@use "../libmindustrice/opening/OPBackground.scss";
@use "../libmindustrice/opening/CentralBanner.scss";
@use 'sass:math';

window {
  background-color: rgba(black, 0.75);
}

$blend-accent: theme.$start-screen-accent-colour;
$blend-accent-shadow: rgba($blend-accent, 0.6);

$border-thickness: 5px;
$margin: 235px;
$shadow-size: 15px;
$shadow-blur: 10px;

.diagonalSquares {
  &, box{
    border: $border-thickness solid;
    border-color: $blend-accent;
  }

  transform: rotate(45deg);
  margin: $margin;

  filter:
    drop-shadow($shadow-size 0px $shadow-blur $blend-accent-shadow)
    drop-shadow(calc(-#{$shadow-size}) 0px $shadow-blur $blend-accent-shadow)
    drop-shadow(0px $shadow-size $shadow-blur $blend-accent-shadow)
    drop-shadow(0px calc(-#{$shadow-size}) $shadow-blur $blend-accent-shadow);

  box {
    margin: 75px;
  }
}

