@use "../libmindustrice/theme.scss" as menu;
@use "../libmindustrice/menu/Entry.scss";
@use "../libmindustrice/hud/ProgressBar.scss";
@use "../libmindustrice/opening/OPBackground.scss";

button {
  background: transparent;
  border: 0px solid;
}

.Toolbar {

  label {
    font-family: menu.$font;
    color: menu.$gray;
    font-size: 18px;
  }

  padding-bottom: 10px;
  border-bottom: 3px solid menu.$gray;
}

window {
  background-color: rgba(black, 0.75);
  padding: 20px;
}

// .Preview {
  // margin: 20px;
// }
