@use "../libmindustrice/theme.scss";
@use "../libmindustrice/menu/MainMenuButton.scss";
@use "../libmindustrice/menu/Entry.scss";
@use "../libmindustrice/hud/ProgressBar.scss";
@use "../libmindustrice/opening/OPBackground.scss";

button {
  @include MainMenuButton.button;
}

.Toolbar {

  label {
    font-family: theme.$font;
    color: theme.$gray;
    font-size: 18px;
  }

  padding-bottom: 10px;
  border-bottom: 3px solid theme.$gray;
}

window {
  background-color: rgba(black, 0.75);
  padding: 20px;
}

// .Preview {
  // margin: 20px;
// }
